@import 'https://at.alicdn.com/t/c/font_3571066_mzjcnl7ysbg.css';
html,
body,
#app {
  margin: 0;
  height: 100%;
  font-size: 20px;
  background: var(--theme-background);
  transition: font-family 0.3s;
  word-break: break-word;
  line-height: 1.7;
  font-family: var(--base-font);
  color: var(--text-color);
}

[data-font-theme='default'] {
  --base-font: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑';
}
[data-font-theme='MingYue'] {
  --base-font: 'font-mingyue', serif;
}
[data-font-theme='PingFang'] {
  --base-font: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑';
}

/* 自定义MingYue字体 */
@font-face {
  font-family: 'font-mingyue';
  src: url('@/assets/fonts/font.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
  font-size: 17px;
  line-height: 1.7;
}

.el-skeleton__item.el-skeleton__p {
  background: var(--style-skeleton);
}

/* 自定义样式滚动条 start */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #f7f8fa;
  border-radius: 1em;
}

/* 自定义样式滚动条 end */

.tooltip-wrapper {
  position: relative;
}
.tooltip-wrapper::after {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  isolation: isolate;
  z-index: 9999;
  transition: all 0.2s ease;
  pointer-events: none;
  border: var(--style-border);
  white-space: nowrap;
  display: inline-block;

  padding: 4px 8px;
  background: var(--background);
  color: var(--text-color);
  font-size: 12px;
  border-radius: 8px;

  left: 50%;
  top: 100%;
  margin-top: 12px;
  transform: translateX(-50%);
}

.tooltip-wrapper:hover::after,
.tooltip-wrapper:hover::before {
  opacity: 1;
  visibility: visible;
}

.tooltip-wrapper:hover::after {
  opacity: 1;
  visibility: visible;
  /* 可选：添加轻微上浮动画，更丝滑 */
  transform: translateX(-50%) translateY(0);
}

/* 可选：初始状态添加轻微下移，配合hover动画 */
.tooltip-wrapper::after {
  transform: translateX(-50%) translateY(4px);
}

/* 渐变 */
@keyframes jianBian {
  to {
    background-position: -2000rem;
  }
}

.icon-container {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  gap: 4px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
  transform: translateX(0);
}

.fade-leave-active {
  position: absolute;
}
