/* 默认模式 */
:root {
  --text-color: #000000;
  --text-color2: #59636e;
  --text-color3: #555666;
  --text-hover: #2791ff;
  --style-border: 1px solid #e3e8f7;
  --home-border: 1px solid rgb(209, 217, 224);
  --background: #f7f8fa;
  --card-background: #ffffff;
  --article-border-bottom: #f0f0f2;
  --box-shadow: 0 8px 16px -4px #2c2d300c;
  --style-skeleton: #e0e0e0;
  --tag-background: rgba(56, 139, 253, 0.05);
  --tag-border: 1px solid rgba(56, 139, 253, 0.15);
  --tag-text: #7a7f87;
}
/* 黑暗模式 */
[data-theme='dark'] {
  --text-color: #e7e8eb;
  --text-color2: #a7acb5;
  --text-color3: #6f737b;
  --text-hover: #4fa3ff;
  --background: #1f2024;
  --card-background: #26282d;
  --card-hover: #2b2e33;
  --style-border: 1px solid rgba(255, 255, 255, 0.06);
  --home-border: 1px solid rgba(255, 255, 255, 0.05);
  --article-border-bottom: rgba(255, 255, 255, 0.05);
  --box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  --style-skeleton: #2a2c31;
  --tag-text: rgb(100, 149, 224, 0.8);
  --tag-background: rgba(79, 163, 255, 0.12);
  --tag-border: 1px solid rgba(79, 163, 255, 0.28);
}
/* 统一改变模式之后，需要一个过度效果 */
* {
  transition: background 0.7s ease, color 0.7s ease, border-color 0.7s ease;
  box-sizing: border-box;
}

/* 默认样式，适用于PC端 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* 设置card边框浮动样式 */
.card-shadow {
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.top10 {
  margin-top: 10px;
}

/* 标题装饰性竖条 */
.decoration-bar {
  position: relative;
  font-size: 18px;
}

/* 手机端样式 */
@media only screen and (max-width: 768px) {
  body {
    background-color: unset;
  }
}
