/* 默认模式 */
:root {
  --text-color: #000000;
  --text-color2: #1f2328;
  --text-color3: #555666;
  --text-hover: #2791ff;
  --style-border: 1px solid #e3e8f7;
  --home-border: 1px solid rgb(209, 217, 224);
  --background: #f7f8fa;
  --card-background: #ffffff;
  --article-border-bottom: #f0f0f2;
  --box-shadow: 0 8px 16px -4px #2c2d300c;
  --style-skeleton: #e0e0e0;
}
/* 黑暗模式 */
[data-theme='dark'] {
  --text-color: #e0e0e0;
  --text-color2: #909090;
  --text-color3: #666666;
  --text-hover: #2791ff;
  --style-border: 1px solid #36363a;
  --home-border: 1px solid rgb(67, 67, 67);
  --background: #14161a;
  --card-background: #1c1e22;
  --article-border-bottom: #36363a;
  --box-shadow: 0 8px 16px -4px #2c2d300c;
  --style-skeleton: #1c1e22;
}
/* 统一改变模式之后，需要一个过度效果 */
* {
  transition: background 0.7s ease, color 0.7s ease, border-color 0.7s ease;
  box-sizing: border-box;
}

/* 默认样式，适用于PC端 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/* 设置card边框浮动样式 */
.card-shadow {
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.top10 {
  margin-top: 10px;
}

/* 标题装饰性竖条 */
.decoration-bar {
  position: relative;
  font-size: 18px;
}

/* 手机端样式 */
@media only screen and (max-width: 768px) {
  body {
    background-color: unset;
  }
}
