html {
  height: 100%;
  font-size: 20px;
  overflow-x: hidden;
}
ul {
  li {
    list-style-type: none;
    // 去除a标签的下划线样式
    a {
      text-decoration: none;
      color: inherit;
      background-color: transparent;
      padding: 0;
      color: #999aaa;
    }
  }
}
.wu-wrap {
  background-color: #f7f8fa;
  padding-top: 10px;
  padding-bottom: 20px;
}
.wu-content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  padding: 0 1.5rem;
}
.wu-home-body {
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  flex: 1;
}
.wu-home-right {
  width: 300px;
  border-radius: 20px;
  position: relative;
}
// width小于960px,有侧边栏消失
@media screen and (max-width: 960px) {
  .wu-home-right {
    display: none;
  }
}
